{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kabar</title>
    <style>
        
        .layer { 
        border: 2px solid darkblue;
        padding: 50px;
    }
    </style>
    <meta name="description" content="Киномонстр - это портал о кино" />
	<meta name="keywords" content="фильмы, фильмы онлайн, hd" />
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" /> 
</head>
<body>
    <div class="main">
		
		<div class="header">
			<div class="logo">
				<div class="logo_text">
					<h1><a href="{% url 'home' %}">КиноМонстр</a></h1>
					<h2>Кино - наша страсть!</h2>
				</div>
			</div>
			
			<div class="menubar">
				
				<ul class="menu">
					<li class="selected"><a href="{% url 'home' %}">Главная</a></li>	
					<li><a href="{% url 'films' %}">Фильмы</a></li>
					<li><a href="{% url 'rating' %}">Рейтинг фильмов</a></li>
					<li><a href="{% url 'contact' %}">Отзывы</a></li>
				</ul>

			</div>

		</div>

        <div class="layer">
            <h2>Новости</h2>
            <span>15 декабря 2021</span>
            <h3>Киану Ривз, Кэрри-Энн Мосс снова в Матрице. Чего ждать от них и других героев «Воскрешения»?</h3>
            <p>После 18-летнего перерыва мир возвращается в Матрицу: в прокат выходит четвертая часть фантастической франшизы — «Матрица: Воскрешение». Мы только что посмотрели фильм и со скоростью пули рассказываем о старых и новых героях сиквела, сыгравших в фильме актерах и о причинах, по которым Лана Вачовски решила в одиночку вернуться к франшизе, уже давно пережившей и перезагрузку, и революцию.

                <h3>Про что этот фильм</h3>
                Томас Андерсон жив и снова оказался в Матрице. Теперь он известный на весь мир гейм-дизайнер, создавший культовую трилогию видеоигр под названием «Матрица». Андерсон ничего не помнит о прежней жизни, но мучается от реалистичных галлюцинаций и внутренних терзаний. Он вновь ощущает иллюзорность реальности и испытывает нежные чувства к незнакомке Тиффани, которая ходит с ним в одну и ту же кофейню Simulatte. Его воспоминания подавляют синие таблетки, которые ему выписал Психоаналитик. Вскоре Томаса находят повстанка Багз и его старый знакомый из снов Морфеус, которые предлагают ему выйти из Матрицы.
                
                <!-- <h3>Киану Ривз — Нео, он же Томас Андерсон</h3>
                
                Томас Андерсон забыл, что он Нео. Хакер переехал из Чикаго в Сан-Франциско, стал гейм-дизайнером и создал видеоигровую трилогию «Матрица», которая «взорвала всем мозг». Компания, на которую он работает (и принадлежит, ха-ха, Warner Bros.!), заказывает Томасу новую игру в той же франшизе, угрожая, что наймет другого специалиста, если он откажется. Однако машины не смогли подавить его чувства: рано или поздно потерянный и несчастный Томас вспомнит прошлую жизнь, кунг-фу и Тринити.
                
                Ривз говорит, что экшен-сцены в фильме сильно отличаются от боев в «Джоне Уике». Во время их подготовки он снова работал с Тайгером Чэнем, мастером восточных единоборств и протеже великого Юэнь У-Пина, и экс-бойцом MMA Эриком Брауном. Первый работал хореографом на трилогии «Матрица» и «Убить Билла», а также сыграл главную роль в режиссерском дебюте Ривза «Мастер тай-цзи», а второй тренировал актера для «Джонов Уиков». -->
                
                <!-- <h3>Кэрри-Энн Мосс — Тринити, она же Тиффани</h3>
                
                Тринити также ничего не помнит о Матрице и своем возлюбленном. Теперь она Тиффани, владелица мотосалона, жена и мать троих детей. Как и Томас, она ощущает себя не в своей тарелке: семейная жизнь в пригороде ей явно не свойственна. Тиффани раздражают подавляющий муж и проблемные дети, с которыми, кажется, постоянно нужно ездить в больницу из-за переломов или застрявшего в носу Lego. То, что она все-таки Тринити, героиня Кэрри-Энн Мосс осознает после сцены с остановкой времени и шантажа с участием ее подложных детей.
                
                <h3>Яхья Абдул-Матин II — Морфеус</h3>
                
                Настоящий Морфеус стал главой Зиона и предположительно умер стариком (действие «Воскрешения» происходит спустя 60 лет после событий «Революции»). Новый Морфеус — программа и экс-агент, который почему-то ощущает необъяснимое желание найти Нео и вернуть его в Матрицу. Морфеус 2.0 обладает более развитым чувством юмора и предпочитает одеваться еще вычурнее, чем оригинал.
                
                Его играет Яхья Абдул-Матин II — одна из восходящих суперзвезд Голливуда. За последние три года он успел сыграть Черную Манту в «Аквамене», Доктора Манхэттена в «Хранителях», культового маньяка в «Кэндимене». -->
                
                <h3>Зачем Лана Вачовски вообще сняла новую «Матрицу»?</h3>
                По словам Ланы, работавшей над «Воскрешением» без своей сестры Лилли, «Облачный атлас» стал для нее художественным прорывом, а сериал «Восьмое чувство» — наиболее автобиографической работой. И поэтому она решила вернуться к «Матрице». «Трилогия рассказывается о красивой любви, борьбе людей и смысле жизни — темах, которые меня волновали в молодости. Однако я хотела, чтобы более зрелая часть меня, мое более зрелое сердце стали частью трилогии „Матрица“», — приводит слова Вачовски Warner Bros.
                
                
                Вачовски признается, что ей захотелось вернуть к жизни Нео и Тринити, когда она заботилась об умирающих родителях. Утешительная история о воскрешении мертвых героев пришла кинематографистке в голову, когда однажды ночью ей было особенно плохо из-за болезни матери и отца и она тут же принялась писать сценарий. Посвящение умершим родителям фигурирует в титрах фильма, а после следует сцена, которая несколько сглаживает трагический пафос словом «котятрица»!
                
                Во время съемок «Восьмого чувства» вместе с продюсером Джеймсом МакТигом и операторами Даниэлем Массаччеси и Джоном Толлом Лана развила новый для себя стиль работы на площадке, который позволял ей быть гибкой и постоянно импровизировать. Например, многие сцены в «Воскрешении» сняты на настоящих локациях при естественном солнечном свете, во время заката, в то время как оригинальную трилогию снимали преимущественно в павильонах.</p>
            <a href="https://www.kinopoisk.ru/media/news/4005524/">читать</a>
        </div>

        <div class="footer">
            <p>
                <a href="{% url 'home' %}">Главная</a> |
                <a href="{% url 'films' %}">Фильмы</a> | 
                <a href="{% url 'rating' %}">Рейтинг фильмов</a> |
                <a href="{% url 'contact' %}">Отзывы</a>
            </p>
            <p>wh-db.com 2021</p>
        </div>
    
</body>
</html>